.page-numbers{
    /* width: 300px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background-color: red; */
}
.page-number{
    width: 30px;
    height: 30px;
    border: 0.64px solid rgba(255, 0, 0, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
}