*{
    box-sizing: border-box;
}
.login-container{
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: -0.5px 0.5px 8px gray,  0.5px -0.5px 8px gray;
    background-color: #ffff;
    transition: .5s ease-in;
}

.login-page{
    max-width: 80%;
    width: 350px;
    margin: auto;
}

.cancel-button{
    display: flex;
    justify-content: flex-end;
} 

.login-page-form{
    display: flex;
    flex-direction: column;
}

.login-page-header h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gen-input{
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.login-button{
    margin-top: 30px;
    color: white;
}

.forgot-password, .create-new-account span{
    color: blue;
    font: 1.2rem;
}
.forgot-password, .create-new-account span:hover{
    color: rgb(89, 89, 154);
    transition: .3s ease-in-out;
}

.create-new-account{
    width: 100%;
    font-size: 12px;
}