*{
    box-sizing: border-box;
}

.register-container{
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    min-height: 400px;
    background: white;
    overflow: scroll;
    scrollbar-width: none;
}
.register-container::-webkit-scrollbar{
    display: none;
}
.register-page{
    max-width: 80%;
    width: 350px;
    margin: auto;
   
}

.cancel-button{
    display: flex;
    justify-content: flex-end;
    padding: 0 1%;

} 

.register-page-form{
    display: flex;
    flex-direction: column;
}
.register-page-header h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gen-input{
    font-size: 1rem;
    padding: 1.5rem;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    display: flex;
}

.signup-button{
    margin-top: 30px;
}

.forgot-password, .Have-an-account span{
    color: blue;
    font: 1.2rem;
}
.forgot-password, .Have-an-account span:hover{
    color: rgb(89, 89, 154);
    transition: .3s ease-in-out;
}
.Have-an-account{
    width: 100%;
    font-size: 12px;
    padding: 2px;
}