.admin-add-product{
    background: #E5E5E5;
}

.admin-add-product-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.admin-add-product-container{
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px 2%;
}

.admin-add-product-images{
    width: 40%;
}


.upload-main-image{
    padding: 10px 2%;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 0.2px solid #000000;
    height: 400px;
}

.umi{
    width: 100%;
    border-radius: 15px;
    font-size: 3rem;
    text-align: center;
    color: lightgray;
    padding: 80px 0;
    /* flex-wrap: wrap; */
}

.umi-img{
    object-fit: contain;
    color: lightgray;
}

.upload-sub-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type="file"]{
    display: none;
}

.add-sub-product-image{
    padding: 5px 2%;
    border-radius: 15px;
    border: 0.2px solid #000000;
    margin-top: 10px;
    width: 32%;
}

.usi{
    width: 100%;
    border-radius: 10px;
    height: 100px;
    /* border: 1px solid black; */
    color: lightgray;
    margin-top: 15px;
    object-fit: contain;
    /* background: #971a1a;   */
}

.usih1{
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 10px 0 0;
    color: lightgray;
    margin-top: 30px;
}

.admin-add-product-details{
    width: 60%;
    padding: 0px 3%;
}

.pn-sc, .pr-qu {
    display: flex;
    justify-content: space-between;
}

.pn-sc-inpt, .pn-sc-selct, .pr-qu-selct{
    width: 20vw;
    height: 50px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.diff-colours h1{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-colours{
    display: flex;
    align-items: center;
    gap: 8px;
}

.avai.pn-sc-inpt, .pn-sc-selct, .pr-qu-selct{
    width: 20vw;
    height: 50px;
    border-radius: 10px;
    font-size: 1.3rem;
}lable-colors{
    display: flex;
    gap: 10px;
}

.full-details textarea{
    width: 100%; 
    height: 142px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 0.2px solid #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.att-video{
    height: 224px;
    width:100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.2px solid #000000;
}



@media screen and (max-width:900px) {
    
    .admin-add-product-container{
        display: grid;
        margin-top: 20px;
        padding: 3%;
    }

    .admin-add-product-images{
        width: 100%;
    }

    .upload-sub-image{
        display: flex;
        justify-content: center;   
    }

    .admin-add-product-details{
        width: 100%;
        padding: 0;
    }
    
    .pn-sc, .pr-qu {
        display: grid;
    }
    
    .pn-sc-inpt, .pn-sc-selct, .pr-qu-selct{
        width: 85vw;
        height: 50px;
        border-radius: 10px;
        font-size: 1.3rem;
    }
    
}
