.custom-button{
    width: 200px;
    /* height: 50px; */
    color: white;
    background-color: rgb(53, 112, 236);
    border: none;
    border-radius: 60px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}
.custom-button:hover{
    transition: .3s ease;
    font-size: 25px;
}