.cart{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}
.cart-header{
    width: 100%;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(30, 30, 178);
    background-color: rgba(217, 217, 217, 0.41);
    margin-top: 0px;
}
.cart-body{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: red; */
}
.cart-body-inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.items-div{
    width: 60%;
    display: grid;
    grid-template-columns: 35% 15% 35% 15%;
    /* grid-template-rows: 50px 50px; */
    /* gap: 0px; */
    align-content: start;
    /* background-color: red; */
}
.items-div-header{
    display: flex;
    /* background-color: blue; */
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.item{
    display: flex;
    /* background-color: blue; */
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
}
.item-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.36);
}

.cart-summary{
    width: 30%;
    /* height: 400px; */
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.cart-summary-item{
    width: 100%;
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    /* font-weight: bold; */
    border-bottom: 2px solid rgba(217, 217, 217, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-summary-header{
    font-size: 22px;
    font-weight: bolder;
}
.cart-summary-disclaimer{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.disclaimer{
    color: rgb(53, 112, 236);
    margin-bottom: 50px;
}

.continue{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}
@media screen and ( max-width: 1000px ){
    .cart-body-inner{
        flex-direction: column;
        align-items: center;
    }
    .items-div{
        width: 100%;
    }
    .cart-summary{
        width: 100%;
        margin-top: 20px;
    }
}
@media(min-width: 1280px){
    .cart-header, .cart-body{
        max-width: 1300px;
        margin: 0 auto;
    }
    .continue-head{
        max-width: 1300px;
        margin: 0 auto;
    }
}