@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}
.contact-page{
    width: 100%;
    margin: 3% auto;
}

.contact-us-header{
    background-color: #d9d9d971;
    height: 150px;
    display: flex;
    justify-content: center;
}

.contact-us-header h1{
    color: #1E1EB2;
    font-size: 3rem;
}

.know-us-better h1{
    text-align: center;
    font-size: 4.0rem;
    margin-bottom: 0;
}
.phone-email-address{
    display: flex;
    justify-content: space-between;  
    margin: 2% auto 0;
    width: 85%;
}

.phone-email-address img{
   width:50px;
   height: 50px;
}

.phone-id, .email-id, .address-id {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ph-em-ad h2{
  margin-bottom: 0;
}

#address-cp{
    margin-top: 15%;
}

.ph-em-ad p{
    margin-top: 0;
}


.get-in-touch{
    text-align: center;
}

.get-in-touch h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.get-in-touch p{
    width: 45%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: #c2c2c2f6;;
}

.contact-page-form{
    width: 85%;
    margin: 0 auto;
}

.fullname-mobile-email{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 30px;
}

.fme-input{
    padding: 15px;
    font-size: 1.5em;
    letter-spacing: 2px;
    border-radius: 10px;
    background-color: #d9d9d971;
    width:26vw;
    outline: none;
    border: none;
}

.subject input{
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    font-size: 1.5em;
    letter-spacing: 2px;
    background-color: #d9d9d971;
    outline: none;
    border: none;
}

.message textarea{
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    font-size: 1.5em;
    letter-spacing: 2px;
    background-color: #d9d9d971;
    outline: none;
    border: none;
}

.send-message{
    text-align: center;
    margin-bottom: 30px;
}


@media screen and (max-width:1000px) {
    
    .phone-email-address {
        display: grid;
    }
    
    #address-cp{
        margin-top: 0;
    }
    
    .address-id {
        align-items: flex-start;
    }
    
    .address-id img{
        margin-top: 20px;
    }

    .get-in-touch p{
        width: 80%;
        margin: 0 auto;
    }

    .fullname-mobile-email{
        display: block;
        margin: 5% 0 0px;
    }

    .fullname-mobile-email input{
        margin-bottom: 30px;
        width: 100%;
    }

    .subject input{
        margin-bottom: 30px;
    }
    
}
