.mobile-bar{
    display: flex;
    margin-top: 89vh;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    height: 11%;
    visibility: hidden;
    top: 0;
    background: white;
    padding: 15px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
}
.mobile-bar .mobile-icons h3{
    margin-top: 3px;
}
@media(max-width: 495px){
    .mobile-bar{
        visibility: visible;
    }
}