.container{
    width: 100%;
    height: 100%;
}
.productHeaderDiv{
    width: 100%;
    height: 100px;
    background: url("../../assets/product-header-bg.png") no-repeat;
    background-size: contain;
}