.admin-add-product{
    padding: 2px 4%;
    background: #E5E5E5
}

.admin-add-product-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-add-product-header h1{
    font-size: 2.5rem; 
}

.admin-add-product-container{
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px 30px;
}

.admin-add-product-images{
    width: 40%;
}


.upload-main-image{
    padding: 10px 2%;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 0.2px solid #000000;
}

.upload-main-image img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);    
}

.upload-sub-image{
    display: flex;
    flex-wrap: wrap;
    gap:23px;
}

.add-sub-product-image{
    padding: 7px 2%;
    border-radius: 15px;
    border: 0.2px solid #000000;
}

.upload-sub-image img{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(213, 223, 213);
}

.admin-add-product-details{
    width: 70%;
    padding: 0px 3%;
}

.pn-sc, .pr-qu {
    display: flex;
    justify-content: space-between;
}

.pn-sc-inpt{
    width: 24.5vw;
    height: 45px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.pn-sc-selct, .pr-qu-selct{
    width: 25vw;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 10px;
}

.add-colours{
    margin-left: 50px;
}

.available-colors{
    display: flex;
    gap: 10px;
}

.full-details textarea{
    width: 100%;
    height: 142px;
    border-radius: 10px;
    border: 0.2px solid #000000;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.attached-video textarea{
    width: 100%;
    height: 224px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.2px solid #000000;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



@media screen and (max-width:900px) {
    
    .admin-add-product-container{
        display: grid;
        margin-top: 20px;
    }

    .admin-add-product-header h1{
        font-size: 1.0rem;  
    }

    .admin-add-product-images{
        width: 100%;
    }

    .upload-sub-image{
        display: flex;
        justify-content: center;   
    }

    .admin-add-product-details{
        width: 100%;
        padding: 0;
    }
    
    .pn-sc, .pr-qu {
        display: grid;
    }
    
    .pn-sc-inpt{
        width: 73vw;
        font-size: 1.3rem;
    }
    
    .pn-sc-selct{  
        width: 75vw;
        font-size: 1.0rem;
    }
    
    .pr-qu-selct{
        width: 75vw;
        font-size: 1.0rem;
    }

    .attached-video textarea, .full-details textarea{
        width: 96%;    
    }
    
}
