.sectionIIc-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sectionIIc-header h1{
    letter-spacing: 0.1rem;
}

.sectionIIc-container{
    background-color:#FFFFFF;
    box-shadow: 0px 2px 4px 0px #00000040;
    padding: 0 0 5%;
}

.sectionIIc-add-image{
    padding: 0 10%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.umi-secc{
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    color: lightgray;
    padding: 80px 0;
    letter-spacing: 0.3rem;
}
.upload-main-image-sectionIIc{
    width: 90%;
    margin: 0 auto;
    padding: 20px 2%;
    border-radius: 15px;
    border: 0.2px solid #000000;
}

.sectionIIc-next-link{
    gap: 10px;
    color: blue;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.uploaded-image-previewed-here{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type="file"]{
    display: none;
}

.uploaded-image-previewed{
    padding: 7px 1%;
    background-color:#FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
    width: 23%;
    box-shadow: 0px 0px 3.364999294281006px 0px #00000040;
}

.uiph{
    width: 50%;
    margin: 0 auto;
    height: 170px;
    color: lightgray;
    margin-top: 50px;
    font-size: 1.6rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;

}


@media screen and (max-width:900px) {
    
    .uploaded-image-previewed-here{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .uploaded-image-previewed{
        padding: 7px 5%;
        margin-top: 30px;
        width: 250px;
    }
    
}

