@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}
.col-2{
    display: flex;
    width: 89%;
    margin: 2% auto 0;
    justify-content: space-between;
}
.cart-sum, .cart-order{
    width: 48%;
    height: fit-content;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
}
.cart-sum{
    background: rgba(173, 216, 230, 0.203);
    padding: .5% 2% 3%;
}
.cart-sum h2{
    margin-top: 7%;
}
.cart-sum .input{
    display: flex;
    flex-direction: column;
}
.input input{
    margin-top: 3%;
    width: 90%;
    height: 8vh;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    font-size: 1.1rem;
    padding: 0px 3% 0;
    border: none;
    outline: none;
    background: white;
}
.flex{
    display: flex;
    gap: 10px;
    width: 45%;
    height: 25px;
    margin-bottom: 30px;
}
.input span{
    font-size: .9rem;
    padding: 2.5% 3% 0;
    margin-top: 3%;
    width: 90%;
    height: 8vh;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;;
    border: none;
    outline: none;
    background: white;
}
.cart-order{
    background: rgba(247, 241, 241, 0.889);
    padding: .5% 2% 3%;
}
h2 + hr{
    background: black;
}
.col-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.col-3 .groupc img{
    width: 30%;
    height: 30%;
    object-fit: cover;
}
.groupc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.col-3 + hr{
    margin-top: 4%;
}
.section{
    margin-top: 10%;
}
.section hr{
    background: black;
}
.paymeth{
    width: 92%;
    margin: 9% auto;
}
.paymeth hr{
    background: black;
}
.paypal:hover{
    border: 2px solid red;
    transition: ease-in .5s;
}
.paypal{
    background: white;
    margin: 5% auto 0;
    width: 90%;
    height: 70px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.groupc span{
    margin-bottom: 15%;
}

@media screen and (max-width: 900px) {
    .col-2{
        display: grid;
    }

    .cart-sum{
        width: 100%;
        margin-bottom: 20px;
    }

    .cart-order{
        width: 100%;
        margin-bottom: 20px;
    }

    .input input{
        margin-top: 3%;
        font-size: 1.1rem;
        height: 7vh;
        padding: 0px 5% 0;
    }

    .input span{
        height: 7vh;
        padding: 3.5% 5% 0;
    }

  }
 