.sectionII-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sectionII-header h1{
    letter-spacing: 0.2rem;
}

.sectionII-container{
    background-color:#FFFFFF;
    padding: 60px 2%;
    padding-top: 0;
}

.sectionII-add-image{
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.umi-sec{
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    color: lightgray;
    padding: 80px 0;
    letter-spacing: 0.3rem;
}
.upload-main-image-sectionII{
    padding: 20px 2%;
    border-radius: 15px;
    border: 0.2px solid #000000;
}

.sectionII-next{
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
    color: blue;
    padding: 0px 5%;
    font-weight: bolder;
}