@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.new-footer *{
    color: white;
    
}

@media screen and (min-width: 800px) {
    .footer-text-info{
        color: #ffff;
    font-family: 'Poppins', sans-serif;
    line-height: 1rem;
    }
    .footer-text{
        position: absolute;
        /* background-color: #FF0000; */
        width: 30rem;
        top: 4rem;
        left: 45%;
    }
    .code{
        width:8rem;
        height: 8rem;
    }
        .footer-code {
            position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            top: 6rem;
            right: 10rem;
        }
 .footer-links {
     position: absolute;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 7rem;
     top: 5rem;
     left: 2rem;

 }
 .text-jelly{
    color: #FFFFFF;
    line-height: 0.5px;
    font-size: 12px;
}
}

.text-jelly {
    color: #FFFFFF;
    line-height: .2px;
    font-size: 10px;
}
.footer{
    color: #d9d9d9;
    bottom: 0px;
    width: 100%;
    background: rgb(21, 21, 108);
    font-family: 'Poppins', sans-serif;
}



.footer-code-logo{
    position: relative;
    z-index: 0;
}
.logo{
    position: absolute;
    width: 5rem;
    z-index: 1;
}
.content ul,li {
    list-style-type: none;
    cursor: pointer;
}

.main-content{
    display: flex;
}
.box h2{
    color: #FF0000;
}
#vtop-logo{
    width: 250px;
    height:220px;
    object-fit: cover;
}
.contact-us .content ul li{
    cursor: initial;
}
.main-content .box{
    flex-basis: 60%;
    padding: 10px 20px;
}
.new-footer-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box .content{
    margin: 20px 0 0 0;
    line-height: 35px;
    /* position: relative; */
}

#address, #phone, #e-mail{
    margin-top: 5px;
    line-height: 22px;
}

.footer-bottom, center{
    padding: 5px;
    font-size: 14px;
    background:inherit;
    color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
}

.footer-right-bottom ul{
    display: flex;
    justify-content: space-around;
    gap: 7px;
}


@media screen and (max-width: 600px) {
    .footer-text-info {
            color: #ffff;
            font-family: 'Poppins', sans-serif;
            line-height: 9px;
            font-size: 10px;
        }
    
        .footer-text {
            position: absolute;
            /* background-color: #FF0000; */
            width: 10rem;
            /* top: 1rem; */
            left: 45%;
        }

  .footer-code {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 2rem;
      right: 3rem;
  }
.footer-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 6rem;
    top: 6rem;
    left: 6rem;
}
 .code {
     width: 4rem;
     height: 3rem;
     /* position: absolute; */
     top: 3rem;
     /* left: 70%; */
 }
  .footer-bottom, center{
    flex-direction: column;
    }
    
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }

  .footer-bottom, center{
    display: grid; 
}


}
@media(min-width: 1280px){
    .footer{
        max-width: 1300px;
        margin: 0 auto;
    }
}