.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.products-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* background-color: brown; */
.product-header{
    width: 100%;
    height: 200px;
    background: url("../../assets/product-header-bg.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.header-logo{
    /* width: 200px; */
    height: 100%;
}

.sort-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.select{
    width: 100px;
}
.product-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.categories{
    width: 20%;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category{
    margin-bottom: 10px;
}
.label{
    margin-left: 5px;
}
.price-filter{
    display: flex;
    flex-direction: column;
}

.products{
    width: 75%;
    min-height: 300px;
    max-height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    gap: 30px 30px;
}
.products::-webkit-scrollbar{
    display: none;
}



@media screen and ( max-width: 1000px ) {
    .product-body{
        flex-direction: column;
        align-items: center;
    }
    .categories{
        /* flex-direction: row; */
        width: 90%;
        margin-bottom: 20px;
        cursor: pointer;
        transition: .9s ease;
        background-color: white;
    }
    .categories:hover{
        position: absolute;
    }
    .categories:hover .category, .categories:hover .price-filter{
        display: flex;
    }
    .category, .price-filter{
        /* visibility: hidden; */
        display: none;
        margin-top: 10px;
    }

    .products{
        width: 100%;
    }
}
@media(min-width: 1480px){
    .product-header, .sort-container, .product-body{
        max-width: 1300px;
    }
}